.rectangle11-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.rectangle11-dummy-container {
  width: 100%;
  height: 900px;
}
.rectangle11-rectangle11 {
  width: 1400px;
  height: 390px;
}
